
    font-family Arial, Heveltica, sans-serif
    font-size::after


body {
    background-color: rgb(196, 176, 215);

}

main {
    background-color: aliceblue;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);

}